* {
  margin: 0;
  padding: 0;
}

.AnimalCard {
  background-color: rgb(255, 255, 255);
  height: 300px;
  width: 200px;
  position: relative;
  border-radius: 5px;
  margin: 1rem;
  border: black 2px solid;
}

.AnimalCard:hover > img {
  filter: saturate(2);
  box-shadow: 1px 1px 5px black;
}

.AnimalCard img {
  object-fit: cover;
  position: absolute;
  height: 60%;
  width: 100%;
  top: 0px;
  border-radius: 5px 5px 0 0;
}

.AnimalCard h2 {
  position: absolute;
  top: 60%;
  left: 4px;
}

.AnimalCard .count {
  font-size: 1.5rem;
  position: absolute;
  bottom: 4px;
  left: 4px;
}

.thumb {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
}

.addlikebutton:hover ~ .thumb {
  animation: showThumb 3s ease-in-out 1;
}

@keyframes showThumb {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.addlikebutton {
  background-color: rgb(255, 123, 0);
  border: 0;
  height: 2rem;
  width: 6rem;
  border-radius: 5px;
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.deletebutton {
  background-color: rgb(255, 0, 0);
  border: 0;
  height: 2rem;
  width: 6rem;
  border-radius: 5px;
  position: absolute;
  bottom: 40px;
  right: 4px;
}
