* {
  margin: 0;
  padding: 0;
}

.AnimalCard {
  background-color: rgb(255, 255, 255);
  height: 300px;
  width: 200px;
  position: relative;
  border-radius: 5px;
  margin: 1rem;
  border: black 2px solid;
}

.AnimalCard:hover > img {
  filter: drop-shadow(0 8px 12px yellow) saturate(1);
  box-shadow: 1px 1px 5px black;
}

.AnimalCard img {
  object-fit: cover;
  position: absolute;
  height: 60%;
  width: 100%;
  top: 0px;
  border-radius: 5px 5px 0 0;
}

.AnimalCard h2 {
  position: absolute;
  top: 60%;
  left: 4px;
}

.AnimalCard .count {
  font-size: 1.3rem;
  position: absolute;
  bottom: 4px;
  left: 4px;
}

.addlikebutton {
  background-color: rgb(255, 123, 0);
  border: 0;
  height: 2rem;
  width: 6rem;
  border-radius: 5px;
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.addlikebutton:hover,
.deletebutton:hover {
  filter: saturate(2);
  box-shadow: inset 2px 2px 6px black;
}

.deletebutton {
  background-color: rgb(255, 0, 0);
  border: 0;
  height: 2rem;
  width: 6rem;
  border-radius: 5px;
  position: absolute;
  bottom: 40px;
  right: 4px;
}
