.Header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.Header h1 {
  margin: 1rem;
}

.Header input {
  margin-right: 2rem;
  width: 12rem;
}
